<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{css/principal.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script th:src="@{js/teste.js}">
    </script>
    <title>Fale Conosco</title>
</head>
<body>
    <form method="POST">
        <label for="name">Nome:</label>
            <input type="text" id="name" name="name">
        <label for="email">E-mail:</label>
            <input type="email" id="email" name="email">
        <label for="msg">Mensagem:</label>
            <input type="text" id="msg" name="msg">

            <input type="submit" value="Enviar">
    </form>
</body>
</html>